//aniamtions
@keyframes fade_in //fades in the mobile menu when user clicks
    0%
        opacity: 0       
    100%
        opacity: 1

@keyframes fly_down //animating mobile menu links
    0%
        opacity: 0
        transform: translateY(-$n100)
    100%
        opacity: 1
        transform: translateY(0)