h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 15px;
}

h1 {
  font-weight: 600;
  font-size: 28px;
}

h2 {
  font-weight: 500;
  font-size: 24px;
}

h3 {
  font-size: 22px;
  font-weight: 500;
}

a, a:visited, a:hover {
  text-decoration: none;
}

svg {
  display: block;
}

ul {
  list-style-type: none;
}

input[type=text], input[type=password], input[type=tel] {
  appearance: none;
  font-family: 'Poppins', sans-serif !important;
  border-radius: 25px 0 0 25px;
  padding: 0.515625rem 1rem;
  color: white;
  background-color: black;
  font-weight: 400;
  font-size: 15px;
  height: 41px;
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus {
  color: white;
  box-shadow: none;
}

input[type=text]:invalid, input[type=password]:invalid, input[type=tel]:invalid {
  box-shadow: none;
}

input[type=text]:not(:focus), input[type=password]:not(:focus), input[type=tel]:not(:focus) {
  color: white;
}

input[type=text]::placeholder, input[type=password]::placeholder, input[type=tel]::placeholder {
  color: white;
}

input[type=text]:focus::placeholder, input[type=password]:focus::placeholder, input[type=tel]:focus::placeholder {
  color: black;
}

textarea {
  border: 0;
  border-radius: 1.25rem;
  background-color: black;
  width: 100%;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 0.9375rem;
  padding: 0.5rem 1rem;
  resize: both;
  color: white;
}

textarea:focus {
  color: white;
  box-shadow: none;
}

textarea:not(:focus) {
  color: white;
}

textarea:invalid {
  box-shadow: none;
}

textarea::placeholder {
  color: white;
}

button {
  height: 41px;
  background-color: black;
  color: white;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

input[type=submit] {
  height: 41px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 400;
  font-size: 17px;
  border-radius: 25px;
  padding: 0 23px;
}

.flex {
  display: flex;
}

.flex_jc_sb {
  justify-content: space-between;
}

.flex_jc_c {
  justify-content: center;
}

.flex_ai_c {
  align-items: center;
}

.flex_ai_fs {
  align-items: flex-start;
}

.flex_dr_c {
  flex-direction: column;
}

.flex_dr_cr {
  flex-direction: column-reverse;
}

.flex_dr_r {
  flex-direction: row;
}

.flex_dr_rr {
  flex-direction: row-reverse;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.1s ease-in-out;
}

.header .shader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.header_nav {
  max-width: 1400px;
  min-width: 18.75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  height: 85px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 53.75em) {
  .header_mobile_toggle {
    display: none;
  }
}

.header_mobile_toggle > span {
  display: block;
  transform: rotate(45deg);
  border-radius: 0.3125rem;
  margin-bottom: 0.1875rem;
  background-color: white;
  transition: all 0.4s ease-in-out;
}

.header_mobile_toggle > span:first-child {
  transform-origin: -0.5625rem 0.625rem;
  width: 0.8125rem;
  height: 0.1875rem;
}

.header_mobile_toggle > span:nth-child(2) {
  transform-origin: 0.625rem 0.1875rem;
  width: 1.625rem;
  height: 0.1875rem;
}

.header_mobile_toggle > span:last-child {
  transform-origin: 1.25rem 0.9375rem;
  width: 0.375rem;
  height: 0.1875rem;
}

.header_mobile_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: black;
  z-index: 100;
  animation: fade_in 0.4s cubic-bezier(0.75, -0.5, 0, 1.75) forwards;
}

.header_mobile_menu .container {
  width: 100%;
}

.header_mobile_menu .container a {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 10px 0;
  opacity: 0;
  transform: translateY(-6.25rem);
  transition: all 0.3s;
}

.header_mobile_menu .container a:nth-last-child(1) {
  animation: fly_down 0.3s ease-in-out forwards;
}

.header_mobile_menu .container a:nth-last-child(2) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 0.1s;
}

.header_mobile_menu .container a:nth-last-child(3) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 0.2s;
}

.header_mobile_menu .container a:nth-last-child(4) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}

.header_mobile_menu .container a:nth-last-child(5) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 0.4s;
}

.header_mobile_menu .container a:nth-last-child(6) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 0.5s;
}

.header_mobile_menu .container a:nth-last-child(7) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}

.header_mobile_menu .container a:nth-last-child(8) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 0.7s;
}

.header_mobile_menu .container a:nth-last-child(9) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 0.8s;
}

.header_mobile_menu .container a:nth-last-child(10) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 0.9s;
}

.header_mobile_menu .container a:nth-last-child(11) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 1s;
}

.header_mobile_menu .container a:nth-last-child(12) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 1.1s;
}

.header_mobile_menu .container a:nth-last-child(13) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 1.2s;
}

.header_mobile_menu .container a:nth-last-child(14) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 1.3s;
}

.header_mobile_menu .container a:nth-last-child(15) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 1.4s;
}

.header_mobile_menu .container a:nth-last-child(16) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 1.5s;
}

.header_mobile_menu .container a:nth-last-child(17) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 1.6s;
}

.header_mobile_menu .container a:nth-last-child(18) {
  animation: fly_down 0.3s ease-in-out forwards;
  animation-delay: 1.7s;
}

.header_mobile_menu .container a:hover {
  background-color: rgba(255, 255, 255, 0.17);
}

.header_mobile_menu .container .mobile_menu {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  z-index: 101;
  background-color: black;
  animation: fade_in 0.4s cubic-bezier(0.75, -0.5, 0, 1.75) forwards;
}

.header_mobile_menu .container .mobile_menu .container {
  width: 100%;
  overflow-y: auto;
}

.header_open > span:first-child {
  transform-origin: 0.71875rem 0.375rem;
  transform: rotate(136deg);
  width: 1.625rem;
}

.header_open > span:nth-child(2) {
  transform-origin: 0.625rem 0.1875rem;
}

.header_open > span:last-child {
  transform-origin: 0.625rem 0.1875rem;
  opacity: 0;
}

@media (max-width: 53.6875em) {
  .header_links {
    display: none;
  }
}

.header_links a {
  font-size: 17px;
  color: white;
  padding: 30px 15px;
}

.header_links a:hover {
  background-color: rgba(255, 255, 255, 0.35);
}

.header_links .sub1 {
  position: relative;
  display: inline-block;
}

.header_links .sub1:hover .intel_menu {
  display: block;
}

.header_links .sub1:hover .sub_intel {
  background-color: rgba(255, 255, 255, 0.35);
}

.header_links .sub1 .intel_menu {
  position: absolute;
  top: 55px;
  display: none;
  width: 100vw;
  background-color: black;
}

.header_links .sub1 .intel_menu a {
  display: block;
  color: white;
  font-size: 17px;
  padding: 8px 16px;
}

.header_links .sub1 .intel_menu a:hover {
  background-color: rgba(255, 255, 255, 0.17);
}

.header_links .sub2 {
  position: relative;
  display: inline-block;
}

.header_links .sub2:hover .benefits_menu {
  display: block;
}

.header_links .sub2:hover .sub_benefits {
  background-color: rgba(255, 255, 255, 0.35);
}

.header_links .sub2 .benefits_menu {
  position: absolute;
  top: 55px;
  display: none;
  width: 100vw;
  background-color: black;
}

.header_links .sub2 .benefits_menu a {
  display: block;
  color: white;
  font-size: 17px;
  padding: 8px 16px;
}

.header_links .sub2 .benefits_menu a:hover {
  background-color: rgba(255, 255, 255, 0.17);
}

.header_links .sub3 {
  position: relative;
  display: inline-block;
}

.header_links .sub3:hover .more_menu {
  display: block;
}

.header_links .sub3:hover .sub_more {
  background-color: rgba(255, 255, 255, 0.35);
}

.header_links .sub3 .more_menu {
  position: absolute;
  top: 55px;
  display: none;
  width: 100vw;
  background-color: black;
}

.header_links .sub3 .more_menu a {
  display: block;
  color: white;
  font-size: 17px;
  padding: 8px 16px;
}

.header_links .sub3 .more_menu a:hover {
  background-color: rgba(255, 255, 255, 0.17);
}

.no_background {
  background-color: transparent;
}

.black_background {
  background-color: black;
}

.small_nav {
  height: 50px;
}

.big_nav {
  height: 85px;
}

.small_padding {
  padding: 13px 15px !important;
}

.big_padding {
  padding: 30px 15px;
}

.top {
  top: 55px;
}

.bottom {
  top: 40px !important;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
}

.footer_links {
  padding: 34px 10px 23px 10px;
  max-width: 1400px;
  min-width: 18.75rem;
  margin: 0 auto;
}

@media (min-width: 53.75em) {
  .footer_links {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }
}

.footer_links h5 {
  font-weight: 500;
  font-size: 15px;
}

.footer_links ul li a {
  color: #B9B9B9;
  font-size: 12px;
}

.footer_links .links:not(:last-child) {
  margin-bottom: 24px;
}

.footer_copyright {
  padding-bottom: 14px;
}

.footer_copyright span {
  font-size: 8px;
  color: #777777;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero_video {
  position: relative;
  background-image: url("../images/jpg/city_2.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 53.75em) {
  .hero_video {
    height: 700px;
  }
}

.hero_video video {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_title {
  position: relative;
  border: 4px solid white;
  padding: 20px 20px;
  z-index: 2;
  transition: all 0.3s cubic-bezier(0.75, -0.5, 0, 1.75);
}

@media (min-width: 53.75em) {
  .hero_title {
    padding: 43px 60px;
    border: 8px solid white;
  }
}

.hero_title .style_1, .hero_title .style_2 {
  position: absolute;
}

.hero_title .style_2 {
  left: 0;
  bottom: 0;
  width: 26px;
  height: 27px;
}

.hero_title .style_2 img {
  width: 100%;
}

.hero_title .style_1 {
  right: 0;
  top: 0;
  width: 26px;
  height: 27px;
}

.hero_title .style_1 img {
  width: 100%;
}

.hero_title h1 {
  color: white;
  transition: all 0.3s cubic-bezier(0.75, -0.5, 0, 1.75);
}

@media (min-width: 53.75em) {
  .hero_title h1 {
    font-size: 50px;
  }
}

.hero_border {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 332px;
  height: 298px;
  background-image: url("../images/svg/border.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.hero_search {
  padding: 0 10px;
}

.hero_search .search_title {
  padding: 60px 0 41px 0;
}

.hero_search .search_title h2 {
  text-align: center;
  transition: all 0.3s cubic-bezier(0.75, -0.5, 0, 1.75);
}

@media (min-width: 53.75em) {
  .hero_search .search_title h2 {
    font-size: 30px;
  }
}

.hero_search .search_form {
  padding-bottom: 115px;
}

.hero_search .search_form form {
  transition: all 0.3s ease-in-out;
}

@media (min-width: 53.75em) {
  .hero_search .search_form form {
    flex-direction: row;
  }
}

.hero_search .search_form form .one {
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 53.75em) {
  .hero_search .search_form form .one {
    margin-bottom: 0;
    margin-right: 13px;
  }
}

.hero_search .search_form form .two {
  transition: all 0.3s ease-in-out;
}

@media (min-width: 53.75em) {
  .hero_search .search_form form .two {
    margin-right: 13px;
  }
}

.hero_search .search_form form .input {
  max-width: 414px;
  width: 100%;
}

.hero_search .search_form form .input:hover .background {
  width: 0;
}

.hero_search .search_form form .input:hover button {
  color: white;
}

.hero_search .search_form form .input input {
  width: 88.5%;
  float: left;
}

.hero_search .search_form form .input button {
  position: relative;
  width: 11.5%;
  float: left;
  font-size: 18px;
  color: black;
}

.hero_search .search_form form .input button .fa-globe-americas, .hero_search .search_form form .input button .fa-search {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.hero_search .search_form form .input button .background {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: white;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

.hero_search .search_form form .search_btn {
  position: relative;
  margin-top: 30px;
  height: 41px;
  border-radius: 25px;
  padding: 0 23px;
  font-weight: 500;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 53.75em) {
  .hero_search .search_form form .search_btn {
    margin-top: 0;
  }
}

.home_info {
  text-align: center;
  max-width: 1400px;
  min-width: 18.75rem;
  margin: 0 auto;
  padding: 0 10px 131px 10px;
}

@media (min-width: 53.75em) {
  .home_info {
    flex-direction: row;
    align-items: flex-start;
    padding: 0 50px 131px 50px;
    text-align: left;
  }
}

.home_info h3, .home_info p {
  margin-bottom: 48px;
}

@media (min-width: 53.75em) {
  .home_info h3, .home_info p {
    margin-bottom: 0;
  }
}

.home_info_left {
  max-width: 600px;
  width: 100%;
}

@media (min-width: 53.75em) {
  .home_info_left {
    margin-right: 133px;
  }
}

.home_info_right {
  max-width: 600px;
  width: 100%;
}

.login {
  background-image: url("../images/jpg/city_1.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 100%;
  padding: 400px 10px;
  text-align: center;
}

.login h2 {
  margin-bottom: 21px;
}

.login p {
  font-size: 14px;
  line-height: 20px;
}

.login p:not(:last-child) {
  margin-bottom: 41px;
}

.login p:last-child {
  font-size: 13px;
}

.login p .info {
  color: #4168EF;
  cursor: pointer;
  font-weight: 500;
}

.login_signup {
  max-width: 569px;
  width: 100%;
  height: 508px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding: 51px 25px;
}

.login_signup input {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 25px;
}

.login_signup button {
  border-radius: 25px;
  padding: 0 23px;
  font-size: 16px;
  margin-bottom: 25px;
}

.contact {
  background-image: url("../images/jpg/city_3.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 100%;
  padding: 400px 10px;
  text-align: center;
}

.contact h2 {
  margin-bottom: 21px;
}

.contact p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 41px;
}

.contact_form {
  max-width: 569px;
  width: 100%;
  margin: 0 auto;
  color: white;
  border-radius: 10px;
  padding: 51px 25px;
}

.contact_form input {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 25px;
}

.contact_form button {
  border-radius: 25px;
  padding: 0 23px;
  font-size: 16px;
}

.privacy {
  padding-top: 219px;
}

.privacy .info {
  padding: 0 10px 131px 10px;
  max-width: 1400px;
  min-width: 18.75rem;
  margin: 0 auto;
}

.privacy .info h2 {
  text-align: center;
  margin-bottom: 81px;
}

.terms {
  padding-top: 219px;
}

.terms .info {
  padding: 0 10px 131px 10px;
  max-width: 1400px;
  min-width: 18.75rem;
  margin: 0 auto;
}

.terms .info h2 {
  text-align: center;
  margin-bottom: 81px;
}

.destinations {
  padding: 0 10px;
  margin: 219px 0 131px 0;
}

.destinations #accordion {
  max-width: 1400px;
  min-width: 18.75rem;
  margin: 0 auto;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fly_down {
  0% {
    opacity: 0;
    transform: translateY(-6.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*# sourceMappingURL=app.css.map */